/* Variables */

:root {
    --primary-text-color: #212121;
    --secondary-text-color: #757575;
    --accent-color: #2196f3;
    --hero-button-active-color: #188ce8;
    --color-white: #ffffff;
    --color-black: #000000;
    --footer-contacts-color: rgba(255, 255, 255, 0.6);
    --dark-bg-color: #2f303a;
    --secondary-bg-color: #f5f4fa;
    --header-border: #ececec;
    --card-border-color: #eee;
    --gradient: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4));
    --hero-bg-color: #c4c4c4;
    --icon-color: #afb1b8;
    --footer-icon-bg-color: rgba(255, 255, 255, 0.1);
    --overlay-color: rgba(47, 48, 58, 0.8);
    --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    --main-font-style: Roboto;
    --logo-font-style: Raleway;

  }